@model SimpleForum.Web.Models.Write.ReplyModel

<h2>@Model.TopicSubject</h2>
<hr />

<h3>Post a reply</h3>

@using (Html.BeginForm())
{
	<div class="form-group">
		@Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = 7 })
		@Html.ValidationMessageFor(m => m.Text)
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
}
